/*!
 * DokuWiki Bootstrap3 Template: DokuWiki Plugins
 *
 * Home     http://dokuwiki.org/template:bootstrap3
 * Author   Giuseppe Di Terlizzi <giuseppe.diterlizzi@gmail.com>
 * License  GPL 2 (http://www.gnu.org/licenses/gpl.html)
 */

/* Tag Plugin */
td.tags a.label {
  font-size: 85%;
  display: inline-block;
  margin-bottom: 3px;
}

.pageId a.label {
  margin-left: 3px;
}


/* Translation Plugin */
#dw__translation .flag img {
  padding-right: 5px;
}


/* Discussion Plugin */
div.dokuwiki {

  div.comment_wrapper {

    margin: 50px 0 0 0;
    padding: 0;
    background-color: inherit;

    div.panel-heading {
      margin-top: 0;
      padding: 5px;
      clear: none;
    }

    div.comment_body {
      border: 0 hidden;
    }

    div.comment_buttons {
      float: none;
      margin-top: initial;
      padding: 5px;
    }

  }

  #discussion__section {
    color: inherit;
    text-decoration: none;
  }

}

/* Publish Plugin */
span.approval_action {
  display:block;
}

span.approval_action a,
span.approval_approved a {
  color:inherit;
  text-decoration:underline;
}


/* Tagging Plugin */
ul.tagging_cloud li {
  display: inline-block;
}


/* DataTables Plugin */
.dt-wrapper {

  .form-control {
    width: auto;
    display: initial;
  }

  .dataTables_paginate a:hover {
    cursor: pointer;
  }

}

/* Data Plugin (Table) */
table.dataplugin_table {
  width: auto;
}


/* InlineTOC Plugin */
.inlinetoc2 > li {
  margin-left: -10px;
}
