/*!
 * DokuWiki Bootstrap3 Template: Recent
 *
 * Home     http://dokuwiki.org/template:bootstrap3
 * Author   Giuseppe Di Terlizzi <giuseppe.diterlizzi@gmail.com>
 * License  GPL 2 (http://www.gnu.org/licenses/gpl.html)
 */

.dokuwiki form.changes ul {
  padding-top: 1.5em;

  li {
    list-style: none;
    margin-left: 0;

    /*&.minor {
      opacity: .7;
    }*/

    span.sum {
      font-weight: bold;
    }

    input {
      vertical-align: top;
    }

  }

}

