@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 400;
	src:
		local('News Cycle'),
		local('NewsCycle'),
		url('News_Cycle_400.eot?#iefix') format('embedded-opentype'),
		url('News_Cycle_400.woff') format('woff'),
		url('News_Cycle_400.woff2') format('woff2'),
		url('News_Cycle_400.svg#NewsCycle') format('svg'),
@font-face {
	font-family: 'News Cycle';
	font-style: normal;
	font-weight: 700;
	src:
		local('News Cycle Bold'),
		local('NewsCycle-Bold'),
		url('News_Cycle_700.eot?#iefix') format('embedded-opentype'),
		url('News_Cycle_700.woff') format('woff'),
		url('News_Cycle_700.woff2') format('woff2'),
		url('News_Cycle_700.svg#NewsCycle') format('svg'),
