@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		url('Lato_400.eot?#iefix') format('embedded-opentype'),
		url('Lato_400.woff') format('woff'),
		url('Lato_400.woff2') format('woff2'),
		url('Lato_400.svg#Lato') format('svg'),
