@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans'),
		local('OpenSans'),
		url('Open_Sans_400.eot?#iefix') format('embedded-opentype'),
		url('Open_Sans_400.woff') format('woff'),
		url('Open_Sans_400.woff2') format('woff2'),
		url('Open_Sans_400.svg#OpenSans') format('svg'),
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Open Sans Bold'),
		local('OpenSans-Bold'),
		url('Open_Sans_700.eot?#iefix') format('embedded-opentype'),
		url('Open_Sans_700.woff') format('woff'),
		url('Open_Sans_700.woff2') format('woff2'),
		url('Open_Sans_700.svg#OpenSans') format('svg'),
