@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Sans Pro Light'),
		local('SourceSansPro-Light'),
		url('Source_Sans_Pro_300.eot?#iefix') format('embedded-opentype'),
		url('Source_Sans_Pro_300.woff') format('woff'),
		url('Source_Sans_Pro_300.woff2') format('woff2'),
		url('Source_Sans_Pro_300.svg#SourceSansPro') format('svg'),
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro Regular'),
		local('SourceSansPro-Regular'),
		url('Source_Sans_Pro_400.eot?#iefix') format('embedded-opentype'),
		url('Source_Sans_Pro_400.woff') format('woff'),
		url('Source_Sans_Pro_400.woff2') format('woff2'),
		url('Source_Sans_Pro_400.svg#SourceSansPro') format('svg'),
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro Bold'),
		local('SourceSansPro-Bold'),
		url('Source_Sans_Pro_700.eot?#iefix') format('embedded-opentype'),
		url('Source_Sans_Pro_700.woff') format('woff'),
		url('Source_Sans_Pro_700.woff2') format('woff2'),
		url('Source_Sans_Pro_700.svg#SourceSansPro') format('svg'),
